@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}
:root {
  --main: #74cccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

main {
  flex: 1; /* 남은 공간을 차지하도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

/* 스크롤바 숨기기 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE와 Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-carousel .slick-prev,
.custom-carousel .slick-next {
  font-size: 24px; /* 화살표 크기 조정 */
  color: #ccc !important; /* 화살표 색상 설정 */
}

#sentry-feedback {
  --inset: auto 2vh 15vh auto;
  z-index: 5; /* 다른 요소 뒤로 배치 */
}
